body {
  margin-left: 20px;
}

h3 {
  margin-left: 31px;
  color: green;
}
.chat {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 16px;
  display: inline-block;
}

.msg {
  background-color: dodgerblue;
  color: white;
  padding: 3px 5px;
  border-radius: 10px;
}
